server:
  port: 10004
spring:
  messages:
    encoding: UTF-8
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  datasource:
    druid:
      url:  jdbc:mysql://167.71.13.219:3306/blindbox_fingernft?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&allowPublicKeyRetrieval=true&verifyServerCertificate=false&useSSL=false&serverTimezone=Asia/Shanghai
      driver-class-name:  com.mysql.cj.jdbc.Driver
      username:  fingernft
      password:  Ren5!@bzys77!Ejn
      initial-size:  10
      max-active:  50
      min-idle:  10
      max-wait:  60000
      pool-prepared-statements:  true
      max-pool-prepared-statement-per-connection-size:  20
      validation-query:  SELECT 1 FROM DUAL
      test-on-borrow:  false
      test-on-return:  false
      test-while-idle:  true
      time-between-eviction-runs-millis:  60000
      filters:  stat,wall
mybatis:
  configuration:
    map-underscore-to-camel-case: true
logging:
  config: classpath:logback-spring.xml
